body {
	background-color: white;
	font-family: "Arial","メイリオ";
	font-style: normal;
	font-size: 10pt;
	color: black;
}

a {
	font-style: normal;
	text-decoration: none;
}

a:link {
	color: #0785ce;
}

a:active {
	color: #2185ce;
}

a:visited {
	color: #2185ce;
}

a:hover {
	color: #3ba8de;
	text-decoration: underline;
}

hr {
	height: 1px;
	color: darkgray;
}

h1 {
	font-style: bold;
	font-size: 120%;
	color: white;
	background-color: gray;
}

h2 {
	font-style: bold;
	font-size: 120%;
	color: blck;
}

h3 {
	font-style: normal;
	font-size: 120%;
	color: black;
	line-height: 0.1;

	padding: 0.5ex;
	border-style: solid;
	border-width: 0 0 3px 0;
	border-color: #2a289d;
}

h4 {
	font-style: bold;
	color: white;
	background-color: #2a289d;
	padding: 5px;
	margin: 0.5em 0;
}

h5 {
	font-style: bold;
	color: rgb(100, 100, 100);
	font-size: 95%;
	margin: 0 0;
}

table {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #2a289d;
}

table.notice {
	border-style: none;
}

th {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: black;
}

th.gui {
	background-color: lightyellow;
}

th.func {
	background-color: greenyellow;
}

th.notice {
	border-style: none;
	text-align: left;
	color: red;
}

td {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: darkgray;
}

td.notice {
	border-style: none;
	color: red;
}

span.notice {
	color: red;
}

blockquote {
	padding: 1ex;
	border-style: dashed;
	border-width: 0 0 1px 1px;
	border-color: darkgray;
}

ul {
	margin: 0 0 1px 5px;
	padding-left: 10px;
}

.linkbtn a {
	border-radius: 10px;
	display: block;
	width: 150px;
	padding: 2px;
	box-sizing: border-box;
	background: #588dee;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	margin: 10px 0;
}

.linkbtn a:hover {
	background-color: #81a8f1;
}
